<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Targets define where logs go to: file, console, database, etc. -->
	<targets>
		<!-- Target for writing to a file -->
		<target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />
	</targets>

	<!-- Rules to map loggers to targets -->
	<rules>
		<!-- All logs with level 'Trace' and higher will be written to 'file' target -->
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
